.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
 
}
.fotter-logo{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  margin-left: 20px;
 }
.footer-links{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 50px;
  color: #f8f5f5;
  font-size: 20px;
}
.footer-links li{
  cursor: pointer;
}

.fotter-social-icon{
  display: flex;
  justify-content: center; 
  gap: 20px;
  margin: 20px;
}

.footer-icons-container{
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}

.fotter-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  color: white;
  font-size: 22px;
}

.fotter-copyright hr{
  width: 80%;
  border: none;
  border-radius:10px ;
  height: 1px;
  background: rgb(122, 106, 106);
}

@media(max-width:800px){
  .footer{
    gap: 20px;
  }
  .fotter-logo{
    gap: 10px;
    align-items: end;
  }
  .fotter-logo img{
    width: 120px;
  }
  .fotter-logo p{
    font-size: 20px;
  }
  .footer-links{
    font-size: 14px;
    gap: 10px;
  }
  .fotter-social-icon img{
    width: 22px;
  }
  .fotter-copyright{
    font-size: 13px;
  }
}